{% extends 'GFG.html' %}  <!-- Extend your base template, if you have one -->
{% load static%}

{% block content %}
<html>
    <head>
        <style>
            * {
                background: url(https://wallpaperaccess.com/full/16692.jpg);
                color: white;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>Add New Doctor</h2>
        
            <!-- Display any messages, like success or errors -->
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        
            <form method="POST">
                {% csrf_token %}
        
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    {{ form.first_name }}
                </div>
        
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    {{ form.last_name }}
                </div>
        
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
        
                <div class="form-group">
                    <label for="mobile_number">Mobile Number</label>
                    {{ form.mobile_number }}
                </div>
        
                <div class="form-group">
                    <label for="address">Address</label>
                    {{ form.address }}
                </div>
        
                <div class="form-group">
                    <label for="state">State</label>
                    {{ form.state }}
                </div>
        
                <div class="form-group">
                    <label for="sex">Sex</label>
                    {{ form.sex }}
                </div>
        
                <div class="form-group">
                    <label for="city">City</label>
                    {{ form.city }}
                </div>
        
                <div class="form-group">
                    <label for="specialist_in">Specialized In</label>
                    {{ form.specialist_in }}
                </div>
        
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    {{ form.dob }}
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Doctor</button>
                </div>
            </form>
        </div>
    </body>
</html>
{% endblock content %}
